.border{
    border: 1px dashed #00ffff !important;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #FAFBFD;
}
a{
    text-decoration: none !important;
}
.grayborder{
    border: 1px solid #B5BAC7;
}


/* ---------- Colores ---------- */
:root{
    --white:        #ffffff;
    --black:        #000000;
    --red:          #DA291C;
    --purple:       #5F2167;
    --purple2:      #E4DAE6;
    --gray1:        #808391;
    --gray2:        #F4F6F9;
    --gray3:        #F4F6F9;
    --grayf1:       #F1F3F9;
    --dark1:        #1D1F24;
    --green:        #258910;
    --green2:       #169A8E;
    --green3:       #E7F7E4;
}


/* ---------- Tipografía ---------- */
.titles18{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.titles24{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.titles32{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
}
.titles40{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.txt12{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.txt14{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.txt16{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.txt18{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.txt20{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.txt24{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.txt32{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
}

.fwhite{
    color: var(--white);
}
.fblack{
    color: var(--black);
}
.fred{
    color: var(--red);
}
.fdark1{
   color: var(--dark1); 
}
.fgreen{
    color: var(--green)
}
.fgreen2{
    color: var(--green2)
}
.fpurple{
    color: var(--purple);
}

.blackback{
    background-color: var(--black);
}
.whiteback{
    background-color: var(--white);
}
.grayf1back{
    background-color: var(--grayf1);
}
.gray2back{
    background-color: var(--gray2)
}
.gray3back{
    background-color: var(--gray3);
}
.green3back{
    background-color: var(--green3);
    border-bottom: 1px solid var(--green);
}
.purpleback{
    background-color: var(--purple2);
    border: 1px solid var(--purple);
}
.redback{
    background-color: var(--red);
}

.f400{
    font-weight: 400;
}
.f700{
    font-weight: 700;
}

.alert-success{
    background-color: #EBF7F6 !important;
    border: 1px solid #B9E9E4 !important;
}

/* ---------- Botones ---------- */
.btn-lang{
    width: 190px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-purple{
    background-color: var(--purple);
    border: 1px solid var(--purple);
    color: var(--white);
}.btn-purple:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    color: var(--purple);
}

.btn-white{
    background-color: var(--white);
    border: 1px solid var(--purple);
    color: var(--purple);
}.btn-white2{
    background-color: var(--white);
    border: 1px solid transparent;
    color: var(--purple);
}.btn-white:hover,
.btn-white2:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--purple);
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-gray,
.btn-gray2{
    background-color: #E3E7F2;
    border: 1px solid #E3E7F2;
    color: #474A56;
}.btn-gray:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--purple);
    border: 1px solid var(--purple);
    color: var(--white);
}.btn-gray2:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--green);
    border: 1px solid var(--green);
    color: var(--white);
}

.btn-green{
    background-color: var(--green);
    border: 1px solid var(--green);
    color: var(--white);
}.btn-green:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
}

.purple-link{
    color: var(--purple);
}.purple-link:hover{
    color: var(--red);
}


/* **************************************  
                Home 
************************************** */
#back-img-header{
    background-color: var(--red);
    position: absolute;
    z-index: -1;
    height: 600px;
    width: 100%;
    left: 0;
    top: 0;
}    
.ida_regreso .custom-radio{
    width: 50%;
    text-align: center;
}
.ida_regreso label{
    font-weight: 500;
    color: #959DB6;
}
.ida_regreso .custom-radio .custom-control-label::before {
    border-radius: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.ida_regreso .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("");
}
.ida_regreso .custom-control-label::before {
    position: absolute;
    top: .0;
    left: 0;
    display: block;
    width: 100% !important;
    border: none;
}
.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: var(--purple) !important;
    border-color: var(--purple) !important;
}
#form-origen-destino .form-control{
    height: 50px;
    color: #6F7587;
    font-weight: 500;
}
.form-control.fblack::placeholder{
    color: #000 !important;
}
.collapse-terminales a{
    text-decoration: none !important;
    color: var(--dark1);
}
.collapse-terminales a[aria-expanded="true"]::after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;       
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%231D1F24' d='M890.5 755.3L537.9 269.2c-12.8-17.6-39-17.6-51.7 0L133.5 755.3A8 8 0 0 0 140 768h75c5.1 0 9.9-2.5 12.9-6.6L512 369.8l284.1 391.6c3 4.1 7.8 6.6 12.9 6.6h75c6.5 0 10.3-7.4 6.5-12.7'/%3E%3C/svg%3E");
}
.collapse-terminales a[aria-expanded="false"]::after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%231D1F24' d='M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2L227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7'/%3E%3C/svg%3E");
}
.list-group-terminales{
    background-color: #E3E7F2;
    padding: 10px;
}
.list-group-terminales a{
    background-color: transparent;
    border: none !important;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 0 !important;
    
}.list-group-terminales a:hover{
    background-color: var(--purple);    
    color: var(--white);
}


/* Lightpicker */
.litepicker {
    display: block;
}
.litepicker .container__months {
    display: flex;
    flex-direction: column;
}
.month-item{
    margin-bottom: 20px !important;
}
.container__months,
.month-item-header,
.month-item-weekdays-row,
.container__days{
    background-color: #F6F7FB !important;
}
.day-item{
    font-family: "Montserrat", sans-serif !important;
    font-size: 18px;
}
.month-item-name, .month-item-year{
    font-family: "montserrat", sans-serif !important;
    font-size: 22px;
}
.month-item-weekdays-row div{
    text-transform: uppercase;
    color: #B5BAC7;
}
.litepicker .container__days .day-item.is-start-date,
.litepicker .container__days .day-item.is-end-date {
    background-color: #5F2167 !important;
}
.litepicker .container__days .day-item.is-in-range{
    background-color: #E4DAE6 !important;
}
.no-servicio {
    background: #ff4d4f !important;
    color: white !important;
    position: relative;
}
.no-servicio::after {
    content: "No servicio";
    position: absolute;
    bottom: -18px;
    font-size: 10px;
    width: 100%;
    text-align: center;
}
.list-group .list-group-item{
    background-color: transparent !important;
    padding: 0.3rem 1.25rem;
    border: none;
}
.list-group .list-group-item:not(:last-child){
    border-right: 1px solid #B5BAC7 !important; 
}



.fechas-viaje{
    border: 1px solid #B9E9E4;
    border-radius: 7px;
    background-color: #F1F3F9;
}
.list-fechas-viaje li{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 20px;
}
.list-fechas-viaje .square{
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.list-fechas-viaje li:nth-child(1) .square{
    background: #258910;
}.list-fechas-viaje li:nth-child(2) .square{
    background: #D1820B;
}.list-fechas-viaje li:nth-child(3) .square{
    background: #D53711;
}.list-fechas-viaje li:nth-child(4) .square{
    background: #5F2167;
}



.mb-lg{
    margin-bottom: 200px;
}
.colcards{
    background-color: rgba(255, 255, 255, .8);
    border-radius: 24px;
}
.banner_anuncio .img-abs{
    position: absolute;
    bottom: 0;
}.banner_anuncio .img-abs2{
    position: absolute;
    bottom: -10px;
    right: -40px;
}
/* #modalViajantes .modal-dialog-centered .modal-dialog, 
#modalViajantes .modal-dialog-centered.modal-dialog {
    align-items: flex-end !important;
} */
#modalViajantes .modal-content{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
#modalViajantes .icon-viajeros{
    width: 50px;
}
#modalViajantes .btn-cant{
    border: 2px solid #ECEFF6;
    border-radius: 7px;
    box-shadow: none !important;
    color: #959BA8;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

#dec_ad,
#dec_ni,
#dec_ina,
#dec_est,
#dec_mae{
    background-image: url('../images/menos.png'); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 80%;
}
#inc_ad,
#inc_ni,
#inc_ina,
#inc_est,
#inc_mae{
    background-image: url('../images/mas.png'); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 70%;
}

#modalViajantes .form-control{
    width: 70px;
    text-align: center;
    border: none !important;
    box-shadow: none !important;
}
#modalViajantes .modal-footer .row,
#modalViajantes .modal-footer .btn{
    width: 100%;
}
#modalViajantes .form-control:disabled, 
#modalViajantes .form-control[readonly] {
    background-color: var(--white);
}


/* **************************************  
            Pantalla corridas 
************************************** */
#estatus_corrida{
    border-bottom: 2px solid #B5BAC7;
    background-color: #ECEFF6;
}
.containerlg-trayecto{
    background-color: #F4F6F9;
}
.containerlg-trayecto .container-lg{
    background-color: #fff;
}

@media(max-width: 992px){
    #estatus_corrida .separador{
        width: 30px;                
    }
}
@media(max-width: 767px){
    #corridas .borders{
        background: none !important;
    }
}
#estatus_corrida .borderleft{
    background-image: url("../images/line-border.png");
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: left center;
}

.custom-control-input:checked~.custom-control-label::before {
    color: var(--purple);
    border-color: var(--purple);
    background-color: var(--purple);
}
.bullets-asientos{
    width: 15px; 
    height: 15px;                  
    border-radius: 50%;
}
.bullets-asientos.disp{
    border: 1px solid #B5BAC7;
    background-color: transparent;
}
.bullets-asientos.nodisp{
    border: 1px solid #B5BAC7;
    background-color: #848CA2;
}
.bullets-asientos.select{
    background-color: var(--purple);
    border: 1px solid #B5BAC7;
}
#registro_pasajeros a:hover,
#modalAsistencia a:hover{
    color: var(--dark1)
}
#registro_pasajeros .custom-checkbox .custom-control-label::before {
    top: -0.10rem;
    left: -1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}
#registro_pasajeros .custom-control-label::after {
    top: -0.3rem;
    left: -1.7rem;
    width: 2rem;
    height: 2rem;
}

/* **************************************  
            Pantalla Pago 
************************************** */
@media(min-width: 768px) and (orientation: portrait){
    #footer-pago{
        position: fixed;
        bottom: 0;
    }
}
@media(min-width: 992px) and (orientation: landscape){
    #footer-pago{
        position: fixed;
        bottom: 0;
    }
}


/* **************************************  
            Pantalla final 
************************************** */
#sigue_tu_viaje{
    background-image: url("../images/seguir-mi-viajeOK.png");
    background-position: bottom left;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}